<div class="panel panel-primary">
  <div class="panel-heading">
    Editing Complaint
  </div>
  <div class="panel-body">
    <%= render 'form', complaint: @complaint %>
  </div>
</div>


<%= link_to 'Show', @complaint, class: "btn btn-primary" %> |
<%= link_to 'Back', complaints_path, class: "btn btn-primary" %>
